body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}
.container {
  min-width: 375px;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header-container {
  display: block;

  padding-top: 15px;
  padding-bottom: 15px;

  background-color: #15ae5d;
  border: 3px solid #016436;

  color: white;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .header-container {
    margin-left: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    margin-left: 200px;
  }
}
.sidebar {
  display: none;
}
@media screen and (min-width: 1200px) {
  .sidebar {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #fff;
    justify-content: center;
    border: 3px solid #e3e3e3;
    border-radius: 6px;
  }
}
.list {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  background-color: #9747ff;
  border: 3px solid #58239a;
  padding-top: 40px;
  padding-bottom: 40px;
}

.list-item {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 37px;
  min-width: 30px;
  padding: 15px;
  border: 3px solid #ebab00;
  border-radius: 6px;
  background-color: #ffcd2a;
  color: black;
}
.list-item:nth-child(even) {
  margin-right: auto;
  margin-left: 37px;
}
.input {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #f24822;
  border: 3px solid #8e2e1f;
  color: white;
}
